 *{
  margin: 0;
  padding: 0;
}

header {
    background-color: #000000;
    display: flex;
    justify-content:space-around ;
    padding: 05px 0;
    color: #ffffff;
}
.cabeçalho-imagem{
 width: 20%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabeçalho-lista-item{
    display:inline-block;
    margin: 0 156px;
    font-size: 24px;
}

.escola-imagem{
    width: 44%;
}

.escola{
    background-image: linear-gradient(#3f0a70, #0f0f0f);
    color: rgb(2, 2, 2);
    display: flex;
    justify-content: center;
    align-items:start;
    padding: 75px;
}
.escola-div-conteudo{
   width: -95%;
}
.escola-titulo{
    padding: 14px 0;
}

.personagens-imagem{
    width: 200px;
}

.personagen-imagem{
  width: 200px;
}

.personagen-div{
    text-align: start;
}

.personagens-titulo{
    text-align: center;
    padding: -20px 0;
}

.personagens-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}