 *{
  margin: 0;
  padding: 0;
}

header {
    background-color: #0919f5;
    display: flex;
    justify-content:space-around ;
    padding: 24px 0;
}
.cabeçalho-imagem{
 width: 20%;
}

.cabeçalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 22%;
}

.escola{
    background-image: linear-gradient(#8104f7, #000000);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.escola-div-conteudo{
   width: 45%;
}